# Node / Next.js
node_modules/
.next/
out/
.next/cache/
build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env
.env.*
!.env.example

# Misc
*.local
.vercel/
coverage/
.pnp
.pnp.js
